<h1>Add a new feed</h1>

<%= form_for [@user, @feed] do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :url %>
	<%= f.text_field :url %>
	<%= f.submit value: "Add feed" %>

<% end %>
