<!DOCTYPE html>
<html>
	<head>
	  <title>Loopd</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<nav id='side-bar'>
			<div id='nav-bar-toggle-button'><button>Toggle side-bar</button></div>
			<div id='nav-bar-content' class='hide'>
				<%= render partial: 'feeds/side_bar' %>
			</div>
		</nav>
	<div id='page'>
		<div class='container'>
			<header>
				<div id='user-info'>
					<% if user_signed_in? %>
						<%= current_user.email %>
					<% else %>
						<%= link_to 'Sign in ', new_user_session_path %>
						<%= link_to 'Sign up', new_user_registration_path %>
					<% end %>
				</div>
			</header>
			<div id='alerts'>
				<% flash.each do |name, msg| %>
	  			<% if msg.is_a?(String) %>
	    			<%= content_tag :div, msg, :class => "flash_#{name}" %>
	  			<% end %>
				<% end %>

			</div>

			<%= yield %>
		</div>
	</div>

	</body>
</html>
