<!DOCTYPE html>
<html>
	<head>
	  <title>Loopd</title>
	  <link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<% if user_signed_in? %>
			<nav id='side-bar'>
				<div class="kontainer">
					<div class="a"></div>
					<div class="b"></div>
					<div class="c"></div>
					<div class="d"></div>
					<div class="e"></div>
					<div class="f"></div>
						<div id='nav-bar-toggle-button'>&raquo;Loopd</div>
						<div id='nav-bar-content'>

						<%= render partial: 'feeds/side_bar' %>
					</div>
				</div>
			</nav>
		<% end %>
	<div id='page'>
		<div class='container'>
			<header>
				<div id='user-info'>
					<% if user_signed_in? %>
						<%= current_user.email %> | <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
					<% else %>
						<%= link_to 'Sign in ', new_user_session_path %> | <%= link_to 'Create an Account', new_user_registration_path %>
					<% end %>
				</div>
			</header>
			<div id='alerts'>
				<% flash.each do |name, msg| %>
	  			<% if msg.is_a?(String) %>
	    			<%= content_tag :div, msg, :class => "flash_#{name}" %>
	  			<% end %>
				<% end %>

			</div>

			<%= yield %>
		</div>
	</div>

	</body>
</html>
